<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.ws.mapper.BookMapper">
	
	
  	<insert id="save" parameterType="Book">
    	insert into _book(title,price) values(#{title},#{price}) 
  	</insert>

	<delete id="delete" parameterType="int">
		delete from _book where id = #{id}
	</delete>
	
	<update id="update" parameterType="Book">
		update _book set title=#{title} ,price=#{price} where id=#{id}
	</update>
	
	<select id="getById" parameterType="int" resultType="Book">
		select id,title,price from _book where id= #{id}
	</select>
	
	<select id="getAll" resultType="Book">
		select id,title,price from _book
	</select>

</mapper>